In [1]:
# General Dependencies

import numpy as np
import pandas as pd

# Warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read the data
df_data = pd.read_csv('data/data_ready.csv')
print('Dataframe dimensions:', df_data.shape)

Dataframe dimensions: (1781, 18)

In [3]:
# Convert column 'Order Date' to datetime format, and remove empty rows

df_data['Order Date'] = pd.to_datetime(df_data['Order Date'])

df_data = df_data.dropna(how='all')
print('Dataframe dimensions:', df_data.shape)

Dataframe dimensions: (1752, 18)

In [14]:
df_2017 =  df_data[df_data['Year'] == 2017]
df_2018 =  df_data[df_data['Year'] == 2018]
df_2017

,Stock ID,Cost of Goods,Unit Price,Shipping Cost,Customer ID,Vendor,Order Status,Product Category,Brand,Product Description,Product Base Margin,Order Date,Profit,Quantity,Sales,Order ID,Month,Year
0,171003,76.0,99.0,15.0,VVIP1017,DIRECT,finished,Clothing,Madewell,Madewell Trevi Drapey Blazer Suit Black 2 Last...,8%,2017-01-01,8.0,1.0,99.0,2017013,1.0,2017.0
1,171004,87.0,120.0,22.5,L1631,DIRECT,finished,Shoes,UGG,UGG Australia â€“ Joey Leather & Genuine Shearli...,9%,2017-01-01,10.5,1.0,120.0,2017014,1.0,2017.0
2,171005,87.0,120.0,22.5,L1631,DIRECT,finished,Shoes,UGG,Ugg red short paragraph 7,9%,2017-01-01,10.5,1.0,120.0,2017015,1.0,2017.0
3,171006,113.0,193.0,15.0,H1270,DIRECT,finished,Clothing,Icebreaker,Set of icebreaker ladies zipper blouse grey s ...,34%,2017-01-01,65.0,1.0,193.0,2017016,1.0,2017.0
4,171007,33.0,107.0,15.0,L1609,DIRECT,finished,Clothing,Anthropologies,Anthropological powder purple sweater s,55%,2017-01-01,59.0,1.0,107.0,2017017,1.0,2017.0
5,171008,33.0,107.0,15.0,L1367,DIRECT,finished,Clothing,Anthropologies,Anthropological powder purple sweater m short ...,55%,2017-01-01,59.0,1.0,107.0,2017018,1.0,2017.0
6,171009,33.0,107.0,15.0,VVIP1017,DIRECT,finished,Clothing,Anthropologies,Anthropological powder purple sweater s,55%,2017-01-01,59.0,1.0,107.0,2017019,1.0,2017.0
7,171010,36.0,64.0,7.5,L1126,DIRECT,finished,Clothing,Tory Burch,Tory sports white top s number,32%,2017-01-01,20.5,1.0,64.0,20170110,1.0,2017.0
8,171011,33.0,107.0,15.0,L1288,DIRECT,finished,Clothing,Anthropologies,Anthropological powder purple sweater s,55%,2017-01-01,59.0,1.0,107.0,20170111,1.0,2017.0
9,171012,31.0,80.0,7.5,L1126,DIRECT,finished,Clothing,Scotch Soda,Scotch soda camel hat,52%,2017-01-01,41.5,1.0,80.0,20170112,1.0,2017.0
10,171013,44.0,76.0,15.0,L1060,DIRECT,finished,Clothing,Armani Exchange,Ae black sports jacket s,22%,2017-01-01,17.0,1.0,76.0,20170113,1.0,2017.0
11,171014,662.0,743.0,30.0,L1230,V1011,finished,Shoes,Stuart Weitzman,Sw highland 5.5 Grey,7%,2017-01-01,51.0,1.0,743.0,20170114,1.0,2017.0
12,171015,31.0,80.0,15.0,H1265,DIRECT,finished,Clothing,Scotch Soda,Scotch soda black hat,43%,2017-01-01,34.0,1.0,80.0,20170115,1.0,2017.0
13,171016,33.0,107.0,15.0,H1045,DIRECT,finished,Clothing,Anthropologies,Anthropological powder purple sweater s,55%,2017-01-01,59.0,1.0,107.0,20170116,1.0,2017.0
14,171017,38.0,99.0,15.0,H1156,DIRECT,finished,Clothing,Madewell,Madewell Wool Dress Grey xs,46%,2017-01-01,46.0,1.0,99.0,20170117,1.0,2017.0
15,171018,85.0,161.0,7.5,L1457,DIRECT,finished,Clothing,Ted Baker,Ted baker bow white shirt 4,43%,2017-01-01,68.5,1.0,161.0,20170118,1.0,2017.0
16,171019,38.0,80.0,7.5,VVIP1044,DIRECT,finished,Clothing,Victoria Secrete,Vs pajamas black xs,43%,2017-01-01,34.5,1.0,80.0,20170119,1.0,2017.0
17,171020,36.0,64.0,7.5,VVIP1044,DIRECT,finished,Clothing,Tory Burch,Tory sports white top xs,32%,2017-01-01,20.5,1.0,64.0,20170120,1.0,2017.0
18,171021,84.0,127.0,15.0,VIP1116,DIRECT,finished,Clothing,Alice Olivia,Alice Olivia Catherine owl sweater Owl wool sh...,22%,2017-01-01,28.0,1.0,127.0,20170121,1.0,2017.0
19,171022,31.0,99.0,15.0,VVIP1047,DIRECT,finished,Clothing,7 for all mankind,For All 7 Mankind High Waist Belted Diamond Je...,54%,2017-01-01,53.0,1.0,99.0,20170122,1.0,2017.0
20,171023,31.0,99.0,15.0,VVIP1047,DIRECT,finished,Clothing,7 for all mankind,For All 7 Mankind High Rise Vintage Straight J...,54%,2017-01-01,53.0,1.0,99.0,20170123,1.0,2017.0
22,171025,61.0,226.0,15.0,H1104,DIRECT,finished,Clothing,Alice Olivia,Alice Olivia Nila Sleeveless Long-Sleeved Jack...,66%,2017-01-01,150.0,1.0,226.0,20170125,1.0,2017.0
23,171026,103.0,256.0,15.0,L1445,DIRECT,finished,Clothing,Alice Olivia,Alice Olivia Gail Collared Tweet Dress black w...,54%,2017-01-01,138.0,1.0,256.0,20170126,1.0,2017.0
24,171027,103.0,256.0,15.0,VVIP1044,DIRECT,finished,Clothing,Alice Olivia,Alice Olivia Gail Collared Tweet Dress black w...,54%,2017-01-01,138.0,1.0,256.0,20170127,1.0,2017.0
25,171028,96.0,183.0,15.0,VVIP1044,DIRECT,finished,Clothing,Alice Olivia,Alice Olivia Marlee striped sequin Woolen Blac...,39%,2017-01-01,72.0,1.0,183.0,20170128,1.0,2017.0
26,171029,22.0,54.0,7.5,L1450,DIRECT,finished,Clothing,Club Monaco,Club Monaco scarf purple,45%,2017-01-01,24.5,1.0,54.0,20170129,1.0,2017.0
27,171030,65.0,111.0,22.5,H1186,DIRECT,finished,Clothing,Topshop,Topshop bomber jacket 6,21%,2017-01-01,23.5,1.0,111.0,20170130,1.0,2017.0
28,171031,63.2,79.0,15.0,VIP1142,DIRECT,finished,Clothing,Banana Republic,Br dog sweater grey xs,1%,2017-01-01,0.8,1.0,79.0,20170131,1.0,2017.0
29,171031,63.2,79.0,15.0,H1295,DIRECT,finished,Clothing,Banana Republic,Br dog sweater grey xs,1%,2017-01-01,0.8,1.0,79.0,20170132,1.0,2017.0
30,171032,31.0,57.0,7.5,VIP1042,V1012,finished,Accessories,Independent Designer,Two masks l number,32%,2017-01-01,18.5,1.0,57.0,20170133,1.0,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1424,172473,374.0,463.0,22.5,VIP1088,V1011,finished,Shoes,Stuart Weitzman,Sw gobi black light skin 5.5,14%,2017-11-01,66.5,1.0,463.0,201709137,11.0,2017.0
1425,172474,137.0,199.0,15.0,H1016,DIRECT,finished,Shoes,Tory Burch,Tb cousin blue sweater m,24%,2017-11-01,47.0,1.0,199.0,201709138,11.0,2017.0
1426,172475,147.0,199.0,15.0,L1737,DIRECT,finished,Clothing,Madewell,Madewell yellow transport tote M,19%,2017-11-01,37.0,1.0,199.0,201709139,11.0,2017.0
1427,172476,599.0,721.0,22.5,L1505,V1011,finished,Shoes,Stuart Weitzman,Sw tieland black suede 5,14%,2017-11-01,99.5,1.0,721.0,201709140,11.0,2017.0
1428,172477,215.0,497.0,22.5,L1779,DIRECT,finished,Shoes,Stuart Weitzman,Sw highland gray 6,52%,2017-11-01,259.5,1.0,497.0,201709141,11.0,2017.0
1429,172478,319.0,478.0,22.5,H1065,V1011,finished,Shoes,Stuart Weitzman,Sw tiemodel black 6,29%,2017-12-01,136.5,1.0,478.0,201709142,12.0,2017.0
1430,172479,319.0,478.0,22.5,VVIP1047,V1011,finished,Shoes,Stuart Weitzman,Sw tiemodel light color 6.5,29%,2017-12-01,136.5,1.0,478.0,201709143,12.0,2017.0
1431,172480,786.0,879.0,22.5,H1134,V1011,finished,Clothing,Canada Goose,Canada goose male langford black s,8%,2017-12-01,70.5,1.0,879.0,201709144,12.0,2017.0
1432,172481,320.0,390.0,15.0,L1130,V1006,finished,Accessories,Bottega Veneta,Bv dark gray wallet,14%,2017-12-01,55.0,1.0,390.0,201709145,12.0,2017.0
1433,172482,1680.0,2100.0,5.0,L1757,DIRECT,finished,Clothing,Moncler,Moncler Beijing Studio Guest,20%,2017-12-01,415.0,1.0,2100.0,201709146,12.0,2017.0
1434,172483,145.0,204.0,15.0,VVIP1038,DIRECT,finished,Clothing,Tory Burch,TB Plaid skirt 4,22%,2017-12-01,44.0,1.0,204.0,201709147,12.0,2017.0
1435,172484,399.0,556.0,22.5,L1757,V1006,finished,Shoes,Stuart Weitzman,Highland suede black 5.5,24%,2017-12-01,134.5,1.0,556.0,201709148,12.0,2017.0
1436,172485,200.8,251.0,22.5,VVIP1026,DIRECT,finished,Shoes,Stuart Weitzman,Sw trendy black leather 6,11%,2017-12-01,27.7,1.0,251.0,201709149,12.0,2017.0
1437,172486,53.0,82.0,15.0,L1150,DIRECT,finished,Clothing,Club Monaco,Club Turtleneck Sweater Grey s,17%,2017-12-01,14.0,1.0,82.0,201709150,12.0,2017.0
1438,172487,159.0,203.0,15.0,VVIP1032,DIRECT,finished,Clothing,Club Monaco,Club v collar jumpsuit 0 dark blue,14%,2017-12-01,29.0,1.0,203.0,201709151,12.0,2017.0
1439,172488,108.0,146.0,15.0,VIP1006,DIRECT,finished,Clothing,Club Monaco,Club wine red cloak,16%,2017-12-01,23.0,1.0,146.0,201709152,12.0,2017.0
1440,172489,80.0,125.0,15.0,VIP1103,DIRECT,finished,Clothing,Club Monaco,Club white dress xs,24%,2017-12-01,30.0,1.0,125.0,201709153,12.0,2017.0
1441,172490,159.0,228.0,7.5,VIP1081,DIRECT,finished,Clothing,Club Monaco,Club gray suit vest xs,27%,2017-12-01,61.5,1.0,228.0,201709154,12.0,2017.0
1442,172491,65.6,82.0,7.5,VIP1081,DIRECT,finished,Clothing,Club Monaco,Club leopard print high collar xs,11%,2017-12-01,8.9,1.0,82.0,201709155,12.0,2017.0
1443,172492,72.0,146.0,7.5,VIP1081,DIRECT,finished,Clothing,Club Monaco,Club Grey V-neck jumpsuit 0,46%,2017-12-01,66.5,1.0,146.0,201709156,12.0,2017.0
1444,172493,162.4,203.0,15.0,VIP1146,DIRECT,finished,Clothing,Club Monaco,Club v collar jumpsuit 0 dark blue,13%,2017-12-01,25.6,1.0,203.0,201709157,12.0,2017.0
1445,172494,64.8,81.0,15.0,H1291,DIRECT,finished,Clothing,Club Monaco,Club Leopard print high neck m,1%,2017-12-01,1.2,1.0,81.0,201709158,12.0,2017.0
1446,172495,116.8,146.0,15.0,VIP1122,DIRECT,finished,Clothing,Club Monaco,Club wine red cloak,10%,2017-12-01,14.2,1.0,146.0,201709159,12.0,2017.0
1447,172496,292.0,365.0,22.5,VVIP1043,DIRECT,finished,Clothing,Club Monaco,Club dark blue coat m,14%,2017-12-01,50.5,1.0,365.0,201709160,12.0,2017.0
1448,172497,821.0,956.0,5.0,L1714,V1007,finished,Handbag,Chloe,Chloe fog blue small faye,14%,2017-12-01,130.0,1.0,956.0,201709161,12.0,2017.0
1449,172498,330.0,360.0,0.0,L1748,DIRECT,finished,Shoes,Stuart Weitzman,SW tiemodel,8%,2017-12-01,90.0,3.0,1080.0,201709162,12.0,2017.0
1450,172408,325.0,497.0,30.0,VVIP1042,DIRECT,finished,Shoes,Stuart Weitzman,Stuart Weitzman leggylady Suede Boots Black 6,29%,2017-12-01,142.0,1.0,497.0,2017INV342,12.0,2017.0
1451,172444,661.0,734.0,30.0,VIP1109,DIRECT,finished,Shoes,Stuart Weitzman,Stuart Weitzman TIELAND suede boots slate6.5,6%,2017-12-01,43.0,1.0,734.0,2017INV347,12.0,2017.0
1452,172459,476.0,522.0,22.5,VVIP1004,DIRECT,finished,Shoes,Jimmy Choo,Jimmy Choo Abel pointed high heel black 36,5%,2017-12-01,23.5,1.0,522.0,2017INV348,12.0,2017.0
1453,172464,661.0,721.0,22.5,L1762,DIRECT,finished,Shoes,Stuart Weitzman,Stuart Weitzman TIELAND Suede Boots Black 7,5%,2017-12-01,37.5,1.0,721.0,2017INV349,12.0,2017.0

## Brand Analysis

Let's check which brands are more profitable, and which brands Lei sells more.

In [18]:
# Building a Brand Dataset

def Brand(df):
    
    df_orders_brand = df.groupby(by='Brand', as_index=False)['Order ID'].count()
    df_orders_brand.columns = ['Brand', 'NumOrders']

    df_total_cost = df.groupby(by='Brand', as_index=False)['Cost of Goods'].sum()
    df_total_cost.columns = ['Brand', 'TotalCost']
    
    df_total_price = df.groupby(by='Brand', as_index=False)['Unit Price'].sum()
    df_total_price.columns = ['Brand', 'TotalPrice']


    df_total_sales = df.groupby(by='Brand', as_index=False)['Sales'].sum()
    df_total_sales.columns = ['Brand', 'TotalSales']

    df_total_profit = df.groupby(by='Brand', as_index=False)['Profit'].sum()
    df_total_profit.columns = ['Brand', 'TotalProfit']

    df_total_qty = df.groupby(by='Brand', as_index=False)['Quantity'].sum()
    df_total_qty.columns = ['Brand', 'TotalQuantity']
    
    # Merge all the dataframes in one.

    df_brand = df_orders_brand.merge(df_total_qty, on="Brand")
    df_brand = df_brand.merge(df_total_cost, on="Brand")
    df_brand = df_brand.merge(df_total_price, on="Brand")
    df_brand = df_brand.merge(df_total_sales, on="Brand" )
    df_brand = df_brand.merge(df_total_profit, on="Brand" )
    
    return(df_brand)

In [19]:
df_brand17 = Brand(df_2017)
df_brand18 = Brand(df_2018)

In [20]:
df_brand17.describe()

,NumOrders,TotalQuantity,TotalCost,TotalPrice,TotalSales,TotalProfit
count,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000
mean,11.908333,12.033333,2144.156667,3015.383333,4576.216667,1354.180833
std,22.093003,22.308733,5482.949351,7751.125390,21932.283500,8483.535603
min,1.000000,1.000000,1.000000,26.000000,26.000000,0.000000
25%,1.000000,1.000000,136.750000,225.000000,225.000000,47.625000
50%,3.000000,3.500000,551.000000,714.000000,714.000000,131.500000
75%,11.250000,12.000000,1930.250000,2765.250000,2765.250000,667.625000
max,124.000000,128.000000,47673.800000,62139.000000,232090.000000,92286.000000

In [21]:
df_brand17.sort_values(by=['TotalCost'], ascending=False ).head()

,Brand,NumOrders,TotalQuantity,TotalCost,TotalPrice,TotalSales,TotalProfit
102,Stuart Weitzman,123,128.0,47673.8,62139.0,63925.0,12033.7
57,Lamer/La Prairie/Chantecaille,2,9.0,31014.0,51690.0,232090.0,92286.0
111,Tory Burch,79,79.0,12762.1,16788.0,16788.0,2740.9
21,Bvlgari,31,31.0,9291.0,13585.0,13585.0,4126.5
25,Canada Goose,12,12.0,9246.0,10573.0,10573.0,1002.0

#### These are outliers for brands of 2017
We removed Stuart Weitzman and Lamer/LaPrairie brands to get a better forecasting

In [22]:
df_brand17 = df_brand17[(df_brand17.TotalSales < 63925 )]
df_brand17.describe()

,NumOrders,TotalQuantity,TotalCost,TotalPrice,TotalSales,TotalProfit
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000
mean,11.050847,11.076271,1513.652542,2101.838983,2145.177966,493.067797
std,19.732765,19.754544,2309.659829,3184.114698,3281.401086,897.899106
min,1.000000,1.000000,1.000000,26.000000,26.000000,0.000000
25%,1.000000,1.000000,136.250000,223.000000,223.000000,46.875000
50%,3.000000,3.000000,508.500000,690.500000,690.500000,129.250000
75%,11.000000,11.750000,1873.500000,2548.500000,2548.500000,643.375000
max,124.000000,124.000000,12762.100000,16788.000000,16788.000000,5791.500000

In [23]:
df_brand18.describe()

,NumOrders,TotalQuantity,TotalCost,TotalPrice,TotalSales,TotalProfit
count,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000
mean,5.872727,6.072727,1514.047273,2095.000000,2134.472727,514.752727
std,7.620767,7.610554,2172.242152,2925.529784,2957.341836,799.596361
min,1.000000,1.000000,16.000000,42.000000,47.000000,7.000000
25%,1.000000,1.000000,139.000000,229.000000,269.500000,68.000000
50%,3.000000,3.000000,726.000000,1066.000000,1066.000000,209.000000
75%,6.000000,7.000000,1718.000000,2158.000000,2158.000000,519.000000
max,42.000000,42.000000,12315.000000,15370.000000,15370.000000,3386.000000

In [24]:
df_brand18.sort_values(by=['TotalCost'], ascending=False ).head()

,Brand,NumOrders,TotalQuantity,TotalCost,TotalPrice,TotalSales,TotalProfit
29,Lamer/La Prairie/Chantecaille,1,1.0,12315.0,15370.0,15370.0,3050.0
46,Stuart Weitzman,22,22.0,6492.0,10355.0,10355.0,3386.0
33,Macy Mcooy,3,3.0,5449.6,6812.0,6812.0,1302.4
23,Jcrew,1,1.0,4990.0,5870.0,5870.0,875.0
35,Maje,42,42.0,4588.0,7817.0,7817.0,2754.0

#### These are outliers for brands of 2018
We removed Lamer/LaPrairie brand to get a better forecasting

In [25]:
df_brand18 = df_brand18[(df_brand18.TotalSales < 15370 )]
df_brand18.describe()

,NumOrders,TotalQuantity,TotalCost,TotalPrice,TotalSales,TotalProfit
count,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000
mean,5.962963,6.166667,1314.029630,1849.166667,1889.370370,467.803704
std,7.662609,7.649763,1601.799585,2309.463964,2354.657282,726.566340
min,1.000000,1.000000,16.000000,42.000000,47.000000,7.000000
25%,1.000000,1.250000,138.500000,214.500000,263.750000,67.500000
50%,3.000000,3.500000,717.000000,1023.500000,1023.500000,178.000000
75%,6.000000,7.000000,1672.750000,2117.000000,2117.000000,502.000000
max,42.000000,42.000000,6492.000000,10355.000000,10355.000000,3386.000000

In [26]:
# Save Brands datasets to csv file for Forecasting

df_brand17.to_csv('data/brand17.csv',index=False)
df_brand18.to_csv('data/brand18.csv',index=False)