# Customer Segmentation

In [22]:
# General Dependencies

import numpy as np
import pandas as pd
import matplotlib as mpl
import pylab as pl

# Visualizations

%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

# Warnings
import warnings
warnings.filterwarnings('ignore')

### Step 1 - Data Engineering

In [23]:
# Read the data
df_origdata = pd.read_csv('data/Project_Sales_Data_Clean.csv',encoding="ISO-8859-1")
print('Dataframe dimensions:', df_origdata.shape)

Dataframe dimensions: (328, 20)

In [24]:
df_origdata.head(10)

,Order ID,Order Date,Customer ID,Customer Name,Age,Product Category,Brand,Product Name,City,Lat,Long,Unit Price,Price Type,Quantity,Sales Revenue,Cost of Goods,Shipping Cost,Total Cost,Gross Profit,Markup Percentage
0,201802092,2/1/2018,DL1004,Rain,28,Handbag,Marc Jacobs,mmj camera crossbody bag Black grey,Beijing,39.904200,116.407396,$294,median,1,$294,$287,$5,$292,$2,0.68%
1,201802119,2/1/2018,DL1004,Rain,28,Accessories,Gentle Monster,gm madcrush,Beijing,39.904200,116.407396,$203,median,1,$203,$148,$8,$156,$47,30.13%
2,201803034,3/1/2018,DL1004,Rain,28,Accessories,Gentle Monster,gm madcrush sunglasses,Beijing,39.904200,116.407396,$203,median,1,$203,$148,$5,$153,$50,32.68%
3,201803035,3/1/2018,DL1004,Rain,28,Cosmetic,La Prairie,lp gift set 2,Hangzhou,30.274084,120.155070,$45,low,1,$45,$10,$8,$18,$27,150.00%
4,201803102,3/1/2018,DL1004,Rain,28,Accessories,Gentle Monster,gm sunglasses madcrush,Beijing,39.904200,116.407396,$203,median,1,$203,$148,$8,$156,$47,30.13%
5,201802122,2/1/2018,DL1005,Sarah,32,Clothing,Alice Olivia,alice olivia katz sunburst skirt size0,Beijing,39.904200,116.407396,$594,luxury,1,$594,$528,$8,$536,$58,10.82%
6,201803089,3/1/2018,DL1005,Sarah,32,Shoes,Stuart Weitzman,STUART WEITZMAN BOLSHOI SUEDE RED7,Beijing,39.904200,116.407396,$155,median,1,$155,$101,$5,$106,$49,46.23%
7,201801037,1/1/2018,DL1007,Shine,29,Shoes,Stuart Weitzman,sw tiemodel Grey7,Beijing,39.904200,116.407396,$155,median,1,$155,$320,$23,$343,($188),-54.81%
8,201802016,2/1/2018,DL1007,Shine,29,Cosmetic,CPB,cpb gwp*3 + lamer gwp*1,Beijing,39.904200,116.407396,$155,median,1,$155,$50,$15,$65,$90,138.46%
9,201802081,2/1/2018,DL1007,Shine,29,Cosmetic,Lamer,lamer gift set *3,Beijing,39.904200,116.407396,$169,median,1,$169,$30,$15,$45,$124,275.56%

In [25]:
def num_missing(x):
  return sum(x.isnull())

In [26]:
# How many NAN values per column with have.

# Applying per column:
print (f"Missing values per column in df_customers :\n{df_origdata.apply(num_missing, axis=0)}")

duplicated = df_origdata.duplicated(subset=['Order ID', 'Customer ID', 'Customer Name', 'Age']).sum()
print(f"Total of duplicated values in df_customers : {duplicated} ")

Missing values per column in df_customers :
Order ID             0
Order Date           0
Customer ID          0
Customer Name        0
Age                  0
Product Category     0
Brand                0
Product Name         0
City                 0
Lat                  0
Long                 0
Unit Price           0
Price Type           0
Quantity             0
Sales Revenue        0
Cost of Goods        0
Shipping Cost        0
Total Cost           0
Gross Profit         0
Markup Percentage    0
dtype: int64
Total of duplicated values in df_customers : 0

In [27]:
print('Dataframe df_origdata dtypes:', df_origdata.dtypes)

Dataframe df_origdata dtypes: Order ID               int64
Order Date            object
Customer ID           object
Customer Name         object
Age                    int64
Product Category      object
Brand                 object
Product Name          object
City                  object
Lat                  float64
Long                 float64
Unit Price            object
Price Type            object
Quantity               int64
Sales Revenue         object
Cost of Goods         object
Shipping Cost         object
Total Cost            object
Gross Profit          object
Markup Percentage     object
dtype: object

In [28]:
# Removing columns not necessary for Customer Segmentation by Age
list_cols_drop = ['Order Date', 'Sales Revenue', 'Cost of Goods', 'Shipping Cost', 'Total Cost', 
                  'Gross Profit', 'Markup Percentage']
df_dropcols = df_origdata.drop(list_cols_drop, axis=1)

# Show first lines
df_dropcols.head(5)

,Order ID,Customer ID,Customer Name,Age,Product Category,Brand,Product Name,City,Lat,Long,Unit Price,Price Type,Quantity
0,201802092,DL1004,Rain,28,Handbag,Marc Jacobs,mmj camera crossbody bag Black grey,Beijing,39.904200,116.407396,$294,median,1
1,201802119,DL1004,Rain,28,Accessories,Gentle Monster,gm madcrush,Beijing,39.904200,116.407396,$203,median,1
2,201803034,DL1004,Rain,28,Accessories,Gentle Monster,gm madcrush sunglasses,Beijing,39.904200,116.407396,$203,median,1
3,201803035,DL1004,Rain,28,Cosmetic,La Prairie,lp gift set 2,Hangzhou,30.274084,120.155070,$45,low,1
4,201803102,DL1004,Rain,28,Accessories,Gentle Monster,gm sunglasses madcrush,Beijing,39.904200,116.407396,$203,median,1

In [29]:
# Total of orders, customers, products and cities

pd.DataFrame([{'orders': len(df_dropcols['Order ID'].value_counts()),    
               'customers': len(df_dropcols['Customer ID'].value_counts()),
               'customers by age': len(df_dropcols['Age'].value_counts()),
               'products': len(df_dropcols['Product Name'].value_counts()), 
               'cities' : len(df_dropcols.City.unique())
              }], columns = ['orders', 'customers', 'customers by age', 'products','cities'], index = ['quantity'])

          orders  customers  customers by age  products  cities
quantity     327        186                17       258       9

In [30]:
df_dropcols.columns
df_dropcols = df_dropcols.rename(columns={'Quantity ': 'Quantity'})
df_dropcols.sort_values('Customer ID', inplace=True)
df_dropcols

,Order ID,Customer ID,Customer Name,Age,Product Category,Brand,Product Name,City,Lat,Long,Unit Price,Price Type,Quantity
0,201802092,DL1004,Rain,28,Handbag,Marc Jacobs,mmj camera crossbody bag Black grey,Beijing,39.904200,116.407396,$294,median,1
1,201802119,DL1004,Rain,28,Accessories,Gentle Monster,gm madcrush,Beijing,39.904200,116.407396,$203,median,1
2,201803034,DL1004,Rain,28,Accessories,Gentle Monster,gm madcrush sunglasses,Beijing,39.904200,116.407396,$203,median,1
3,201803035,DL1004,Rain,28,Cosmetic,La Prairie,lp gift set 2,Hangzhou,30.274084,120.155070,$45,low,1
4,201803102,DL1004,Rain,28,Accessories,Gentle Monster,gm sunglasses madcrush,Beijing,39.904200,116.407396,$203,median,1
5,201802122,DL1005,Sarah,32,Clothing,Alice Olivia,alice olivia katz sunburst skirt size0,Beijing,39.904200,116.407396,$594,luxury,1
6,201803089,DL1005,Sarah,32,Shoes,Stuart Weitzman,STUART WEITZMAN BOLSHOI SUEDE RED7,Beijing,39.904200,116.407396,$155,median,1
13,201803046,DL1007,Shine,29,Shoes,Club Monaco,club monaco Mule Shoes White 365,Beijing,39.904200,116.407396,$255,median,1
12,201803042,DL1007,Shine,29,Accessories,Dior,dior sunglasses blue,Beijing,39.904200,116.407396,$297,median,1
11,201802089,DL1007,Shine,29,Cosmetic,Lamer,lamer gift set,Beijing,39.904200,116.407396,$56,low,1
9,201802081,DL1007,Shine,29,Cosmetic,Lamer,lamer gift set *3,Beijing,39.904200,116.407396,$169,median,1
8,201802016,DL1007,Shine,29,Cosmetic,CPB,cpb gwp*3 + lamer gwp*1,Beijing,39.904200,116.407396,$155,median,1
7,201801037,DL1007,Shine,29,Shoes,Stuart Weitzman,sw tiemodel Grey7,Beijing,39.904200,116.407396,$155,median,1
10,201802082,DL1007,Shine,29,Clothing,Armani,armani Burgundy Sweatshirt l,Beijing,39.904200,116.407396,$88,low,1
14,201802072,DL1011,Little Wood,25,Accessories,Tiffany,tiffany bracelet red heart *3,Beijing,39.904200,116.407396,$398,high,1
15,201802123,DL1012,Elisa,30,Clothing,Canada Goose,Canada Goose long parka m/m/l,Beijing,39.904200,116.407396,$896,luxury,3
16,201803076,DL1012,Elisa,30,Accessories,Dior,dior sunglasses nude,Beijing,39.904200,116.407396,$305,high,1
17,201803078,DL1012,Elisa,30,Accessories,MLB,MLB & Gucci Bee Caps,Beijing,39.904200,116.407396,$42,low,10
21,201801045,DL1013,Ba Ye,33,Clothing,Maje,maje pink maxi dress 2,Beijing,39.904200,116.407396,$155,median,1
20,201801044,DL1013,Ba Ye,33,Clothing,Maje,maje long sleeve lace dress Black 1,Beijing,39.904200,116.407396,$155,median,1
19,201801031,DL1013,Ba Ye,33,Clothing,Maje,maje maxi dress pink 1,Beijing,39.904200,116.407396,$155,median,1
18,201801030,DL1013,Ba Ye,33,Clothing,Maje,maje Blue stripe dress 1,Beijing,39.904200,116.407396,$155,median,1
22,201802063,DL1014,Ai,28,Handbag,YSL,ysl Clutch Red,Beijing,39.904200,116.407396,$155,median,1
23,201803033,DL1014,Ai,28,Handbag,Pinko,pinko Black signature badge small,Beijing,39.904200,116.407396,$227,median,1
24,201801079,DL1015,Dora,35,Accessories,Redline,redline all rope yellow gold l,Beijing,39.904200,116.407396,$155,median,1
25,201802084,DL1015,Dora,35,Handbag,Marc Jacobs,mmj camera crossbody bag rose pink,Beijing,39.904200,116.407396,$289,median,1
26,201802085,DL1015,Dora,35,Clothing,Jbrand,JBrand Natasha Sky high jeans dark Blue 27,Beijing,39.904200,116.407396,$258,median,1
27,201802093,DL1015,Dora,35,Shoes,Stuart Weitzman,sw MANILA TASSEL BLACK 8,Beijing,39.904200,116.407396,$291,median,1
28,201803105,DL3001,Little Wood,35,Cosmetic-wholesale,Lamer/La Prairie/Chantecaille,lamer / lp / chantecaille etc,Beijing,39.904200,116.407396,$153,median,1
29,201803112,DL3002,Little Bear,35,Clothing,Macy Mcooy,Trmpet Sleeves Black Suit,Beijing,39.904200,116.407396,"$1,703",Group,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,201803037,VVIP1028,Tilai Bao,26,Clothing,Club Monaco,club White docpot blouse xs,Beijing,39.904200,116.407396,$192,median,1
299,201803038,VVIP1028,Tilai Bao,26,Clothing,Club Monaco,club borre pants Black2,Beijing,39.904200,116.407396,$194,median,1
300,201801022,VVIP1032,Pengli,28,Clothing,Coach,coach Black tee s,Beijing,39.904200,116.407396,$155,median,1
301,201802098,VVIP1035,Li Cong,33,Clothing,Sandro,sandro dress pink lace 3,Beijing,39.904200,116.407396,$559,luxury,1
302,201803065,VVIP1036,Du Wei,34,Shoes,Stuart Weitzman,sw simple nude bling heels 5.5,Beijing,39.904200,116.407396,$367,high,1
305,201802021,VVIP1037,Yang Yi,31,Cosmetic,Chantecaille,Chantecaille eye stress repair,Beijing,39.904200,116.407396,$155,median,1
303,201801099,VVIP1037,Yang Yi,31,Shoes,Stuart Weitzman,STUART WEITZMAN BOLSHOI LEATHER NUDE5.5,Beijing,39.904200,116.407396,$155,median,1
304,201802013,VVIP1037,Yang Yi,31,Cosmetic,Chantecaille,Chantecaille diamond mask,Beijing,39.904200,116.407396,$155,median,1
313,201802101,VVIP1038,Kerina,25,Clothing,Tory Burch,tb emma silk blouse 2,Beijing,39.904200,116.407396,$278,median,1
306,201801010,VVIP1038,Kerina,25,Clothing,Maje,maje leather dress 2,Beijing,39.904200,116.407396,$188,median,1
307,201801070,VVIP1038,Ke Kerina,25,Cosmetic,Givenchy,Givenchy lipstick lamb leather red velvet,Beijing,39.904200,116.407396,$155,median,1
308,201802009,VVIP1038,Ke Kerina,25,Cosmetic,La Prairie,lp gift set 3,Beijing,39.904200,116.407396,$155,median,1
309,201802033,VVIP1038,Ke Kerina,25,Clothing,Theory,theory dress 4,Beijing,39.904200,116.407396,$155,median,1
310,201802037,VVIP1038,Ke Karina,25,Clothing,Armani,ARMANI Sweatshirt Red m,Beijing,39.904200,116.407396,$155,median,1
311,201802058,VVIP1038,Kerina,25,Clothing,Adidas,adidas tee l,Beijing,39.904200,116.407396,$155,median,1
312,201802065,VVIP1038,Kerina,25,Cosmetic,Louis Vuitton,lv rose des vent Perfume 100ml,Beijing,39.904200,116.407396,$289,median,1
314,201802106,VVIP1038,Kerina,25,Shoes,Tory Burch,tb pearl shoes 35.5,Beijing,39.904200,116.407396,$325,high,1
315,201803006,VVIP1038,Kerina,25,Clothing,Club Monaco,club manaco Mule Shoes White 36,Beijing,39.904200,116.407396,$268,median,1
316,201801077,VVIP1042,Philip,27,Accessories,Coach,coach twilly scarf,Beijing,39.904200,116.407396,$155,median,1
317,201801084,VVIP1042,Philips,27,Accessories,Roger Vivier,Roger Viver Belt mint 80,Beijing,39.904200,116.407396,$155,median,1
319,201802066,VVIP1043,Patricia,32,Clothing,Armani,armani side button ponte dress black m,Beijing,39.904200,116.407396,$106,median,1
320,201802067,VVIP1043,Patricia,32,Clothing,Armani,armani Red Sweatshirt m,Beijing,39.904200,116.407396,$92,low,1
318,201802007,VVIP1043,Yng Patricia,32,Accessories,Gentle Monster,gm madcrushsunglasses,Beijing,39.904200,116.407396,$155,median,1
321,201803114,VVIP1043,Patricia,32,Clothing,Macy Mcooy,Trmpet Sleeves Black Suit,Beijing,39.904200,116.407396,"$3,406",Group,1
323,201802096,VVIP1044,Cai Haizhu,29,Clothing,Club Monaco,club monaco silk Black floral dress 0,Beijing,39.904200,116.407396,$155,median,1
322,201801013,VVIP1044,Cai Haizhu,29,Clothing,Maje,maje Black lace v-neck dress 1,Beijing,39.904200,116.407396,$169,median,1
324,201802097,VVIP1044,Cai Haizhu,29,Clothing,Theory,theory dress 2,Beijing,39.904200,116.407396,$200,median,1
326,201801007,VVIP1047,Jin Ye,33,Clothing,Maje,maje dress red 1,Beijing,39.904200,116.407396,$139,median,1
325,201801006,VVIP1047,Jin Ye,33,Clothing,Maje,maje short Black puff jacket 1,Beijing,39.904200,116.407396,$180,median,1
327,201802075,VVIP1047,Jin Yu,33,Clothing,Scotch Soda,scotch soda sweater skirt,Beijing,39.904200,116.407396,$102,median,1

In [31]:
# Get List of customers, how many orders per customer, how much products they buy

list_customers = df_dropcols['Customer ID'].unique()
total_orders_customer = df_dropcols.groupby(['Customer ID'])['Order ID'].count()
total_buy_customers = df_dropcols.groupby(['Customer ID'])['Quantity'].sum()

In [32]:
# Get the age per customer

list_cust_age = []    
for customer in list_customers:
    list_cust_age.append(df_dropcols.loc[df_dropcols['Customer ID'] == customer, 'Age'].iloc[0])

In [33]:
# Create DataFrame Customers and populate it

df_customers = pd.DataFrame()
df_customers['Customer ID'] = pd.Series(list_customers).values
df_customers['Age'] = pd.Series(list_cust_age).values
df_customers['Total Orders'] = pd.Series(total_orders_customer).values
df_customers['Total Products'] = pd.Series(total_buy_customers).values

df_customers

    Customer ID  Age  Total Orders  Total Products
0        DL1004   28             5               5
1        DL1005   32             2               2
2        DL1007   29             7               7
3        DL1011   25             1               1
4        DL1012   30             3              14
5        DL1013   33             4               4
6        DL1014   28             2               2
7        DL1015   35             4               4
8        DL3001   35             1               1
9        DL3002   35             1               1
10       DL3005   32             1               1
11       DL3006   33             1               1
12       DL3007   24             1               1
13       FF1002   34             2               2
14       FF1004   27             1               1
15       FF1006   28             1               1
16       FF1015   29             1               1
17       FF1019   30             3               3
18       FF1025   25             1               1
19       FF1026   27             9               9
20       FF1035   30             1               1
21        H1012   29             1               1
22        H1016   23             2               2
23        H1020   34             1               1
24        H1022   27             2               2
25        H1036   25             1               1
26        H1051   32             1               1
27        H1054   30             1               1
28        H1060   32             1               1
29        H1071   28             1               1
..          ...  ...           ...             ...
156     VIP1088   36             1               1
157     VIP1089   34             1               1
158     VIP1093   34             4               4
159     VIP1098   25             1               1
160     VIP1101   24             1               1
161     VIP1103   33             2               2
162     VIP1105   32             1               1
163     VIP1114   25             1               1
164     VIP1119   36             1               1
165     VIP1130   37             1               1
166     VIP1131   26             1               1
167     VIP1142   30             5               5
168     VIP1146   29             7               7
169    VVIP1005   36             1               1
170    VVIP1008   23             5               5
171    VVIP1009   25             1               1
172    VVIP1018   32             1               1
173    VVIP1021   26             1               1
174    VVIP1022   33             5               5
175    VVIP1026   36             1               1
176    VVIP1028   26             3               3
177    VVIP1032   28             1               1
178    VVIP1035   33             1               1
179    VVIP1036   34             1               1
180    VVIP1037   31             3               3
181    VVIP1038   25            10              10
182    VVIP1042   27             2               2
183    VVIP1043   32             4               4
184    VVIP1044   29             3               3
185    VVIP1047   33             3               3

[186 rows x 4 columns]

In [34]:
stats = df_customers.describe()
stats

              Age  Total Orders  Total Products
count  186.000000    186.000000      186.000000
mean    30.397849      1.763441        1.822581
std      4.241723      1.527392        1.769326
min     23.000000      1.000000        1.000000
25%     27.000000      1.000000        1.000000
50%     31.000000      1.000000        1.000000
75%     34.000000      2.000000        2.000000
max     39.000000     10.000000       14.000000

In [35]:
X = df_customers['Total Orders'].values
Y = df_customers['Total Products'].values