## Lei Data Munging

In [1]:
# General Dependencies

import numpy as np
import pandas as pd
import datetime as dt

In [2]:
# Read the data
# df_original = pd.read_csv('data/Sales_Data.csv')
df_original = pd.read_csv('data/Clean_Data_Translated_5.csv')
print('Dataframe dimensions:', df_original.shape)

Dataframe dimensions: (1884, 24)

In [3]:
df_original.head(10)

,Stock ID,Order Priority,Cost of Goods,Unit Price,Shipping Cost,Customer ID,Customer Name,Vendor,Order Status (Backorder?),Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,171001,NaN,720.0,900.0,0.0,L1784,NaN,V1011,Backorder,Clothing,...,NaN,NaN,NaN,NaN,Jan-17,NaN,180.0,1.0,900.0,2017011
1,171002,NaN,165.6,207.0,0.0,VIP1023,NaN,DIRECT,Backorder,Shoes,...,NaN,NaN,NaN,NaN,Jan-17,NaN,41.4,1.0,207.0,2017012
2,171003,NaN,76.0,99.0,15.0,VVIP1017,NaN,DIRECT,finished,Clothing,...,NaN,NaN,NaN,NaN,Jan-17,NaN,8.0,1.0,99.0,2017013
3,171004,NaN,87.0,120.0,22.5,L1631,NaN,DIRECT,finished,Shoes,...,NaN,NaN,NaN,NaN,Jan-17,NaN,10.5,1.0,120.0,2017014
4,171005,NaN,87.0,120.0,22.5,L1631,NaN,DIRECT,finished,Shoes,...,NaN,NaN,NaN,NaN,Jan-17,NaN,10.5,1.0,120.0,2017015
5,171006,NaN,113.0,193.0,15.0,H1270,NaN,DIRECT,finished,Clothing,...,NaN,NaN,NaN,NaN,Jan-17,NaN,65.0,1.0,193.0,2017016
6,171007,NaN,33.0,107.0,15.0,L1609,NaN,DIRECT,finished,Clothing,...,NaN,NaN,NaN,NaN,Jan-17,NaN,59.0,1.0,107.0,2017017
7,171008,NaN,33.0,107.0,15.0,L1367,NaN,DIRECT,finished,Clothing,...,NaN,NaN,NaN,NaN,Jan-17,NaN,59.0,1.0,107.0,2017018
8,171009,NaN,33.0,107.0,15.0,VVIP1017,NaN,DIRECT,finished,Clothing,...,NaN,NaN,NaN,NaN,Jan-17,NaN,59.0,1.0,107.0,2017019
9,171010,NaN,36.0,64.0,7.5,L1126,NaN,DIRECT,finished,Clothing,...,NaN,NaN,NaN,NaN,Jan-17,NaN,20.5,1.0,64.0,20170110

In [4]:
def num_missing(x):
  return sum(x.isnull())

In [5]:
# How many NAN values per column with have.

# Applying per column:
print (f"Missing values per column in df_customers :\n{df_original.apply(num_missing, axis=0)}")

Missing values per column in df_customers :
Stock ID                           1
Order Priority                  1884
Cost of Goods                      0
Unit Price                         0
Shipping Cost                      0
Customer ID                        0
Customer Name                   1882
Vendor                             0
Order Status (Backorder?)          0
Product Category                   0
Product Sub-Category / Brand       0
Product Container               1884
Product_Name_EN                    0
Product Base Margin               80
Region                          1884
State or Province               1884
City                            1883
Postal Code                     1884
Order Date                         0
Ship Date                       1884
Profit                             0
Quantity ordered new               4
Sales                              0
Order ID                           1
dtype: int64

In [6]:
# Removing columns not necessary for Customer Segmentation 

list_cols_drop = ['Order Priority', 'Customer Name', 'Product Container', 'Region', 'State or Province', 'City',
                  'Postal Code', 'Ship Date']
df_data= df_original.drop(list_cols_drop, axis=1)

In [7]:
#remove rows where StockID, "Quantity ordered new" , OrderID are NaN 

df_data.dropna(subset=['Stock ID'],how='all',inplace=True)
df_data.dropna(subset=['Order ID'],how='all',inplace=True)
df_data.dropna(subset=['Quantity ordered new'],how='all',inplace=True)
df_data.shape

(1878, 16)

In [8]:
df_data.columns

Index(['Stock ID', 'Cost of Goods', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Vendor', 'Order Status (Backorder?)',
       'Product Category', 'Product Sub-Category / Brand', 'Product_Name_EN',
       'Product Base Margin', 'Order Date', 'Profit', 'Quantity ordered new',
       'Sales', 'Order ID'],
      dtype='object')

In [9]:
# Rename columns
df_data.rename(columns={"Product Sub-Category / Brand": 'Brand','Product_Name_EN': 'Product Description', 
                         'Order Status (Backorder?)': 'Order Status', 'Quantity ordered new': 'Quantity'}, inplace=True)

df_data.head()

,Stock ID,Cost of Goods,Unit Price,Shipping Cost,Customer ID,Vendor,Order Status,Product Category,Brand,Product Description,Product Base Margin,Order Date,Profit,Quantity,Sales,Order ID
0,171001,720.0,900.0,0.0,L1784,V1011,Backorder,Clothing,Canada Goose,Canada goose trillium black s,20%,Jan-17,180.0,1.0,900.0,2017011
1,171002,165.6,207.0,0.0,VIP1023,DIRECT,Backorder,Shoes,Vince,Vince polette suede high heel black 6,20%,Jan-17,41.4,1.0,207.0,2017012
2,171003,76.0,99.0,15.0,VVIP1017,DIRECT,finished,Clothing,Madewell,Madewell Trevi Drapey Blazer Suit Black 2 Last...,8%,Jan-17,8.0,1.0,99.0,2017013
3,171004,87.0,120.0,22.5,L1631,DIRECT,finished,Shoes,UGG,UGG Australia – Joey Leather & Genuine Shearli...,9%,Jan-17,10.5,1.0,120.0,2017014
4,171005,87.0,120.0,22.5,L1631,DIRECT,finished,Shoes,UGG,Ugg red short paragraph 7,9%,Jan-17,10.5,1.0,120.0,2017015

In [10]:
# REMOVE OUTLIERS 

# If Order Status is Backorder.
df_data = df_data[(df_data['Order Status'] != 'Backorder')]
df_data = df_data[(df_data.Quantity > 0 )]
# df_data = df_data[(df_data['Cost of Goods'] < 10000)]

In [11]:
df_data

,Stock ID,Cost of Goods,Unit Price,Shipping Cost,Customer ID,Vendor,Order Status,Product Category,Brand,Product Description,Product Base Margin,Order Date,Profit,Quantity,Sales,Order ID
2,171003,76.0,99.0,15.0,VVIP1017,DIRECT,finished,Clothing,Madewell,Madewell Trevi Drapey Blazer Suit Black 2 Last...,8%,Jan-17,8.0,1.0,99.0,2017013
3,171004,87.0,120.0,22.5,L1631,DIRECT,finished,Shoes,UGG,UGG Australia – Joey Leather & Genuine Shearli...,9%,Jan-17,10.5,1.0,120.0,2017014
4,171005,87.0,120.0,22.5,L1631,DIRECT,finished,Shoes,UGG,Ugg red short paragraph 7,9%,Jan-17,10.5,1.0,120.0,2017015
5,171006,113.0,193.0,15.0,H1270,DIRECT,finished,Clothing,Icebreaker,Set of icebreaker ladies zipper blouse grey s ...,34%,Jan-17,65.0,1.0,193.0,2017016
6,171007,33.0,107.0,15.0,L1609,DIRECT,finished,Clothing,Anthropologies,Anthropological powder purple sweater s,55%,Jan-17,59.0,1.0,107.0,2017017
7,171008,33.0,107.0,15.0,L1367,DIRECT,finished,Clothing,Anthropologies,Anthropological powder purple sweater m short ...,55%,Jan-17,59.0,1.0,107.0,2017018
8,171009,33.0,107.0,15.0,VVIP1017,DIRECT,finished,Clothing,Anthropologies,Anthropological powder purple sweater s,55%,Jan-17,59.0,1.0,107.0,2017019
9,171010,36.0,64.0,7.5,L1126,DIRECT,finished,Clothing,Tory Burch,Tory sports white top s number,32%,Jan-17,20.5,1.0,64.0,20170110
10,171011,33.0,107.0,15.0,L1288,DIRECT,finished,Clothing,Anthropologies,Anthropological powder purple sweater s,55%,Jan-17,59.0,1.0,107.0,20170111
11,171012,31.0,80.0,7.5,L1126,DIRECT,finished,Clothing,Scotch Soda,Scotch soda camel hat,52%,Jan-17,41.5,1.0,80.0,20170112
12,171013,44.0,76.0,15.0,L1060,DIRECT,finished,Clothing,Armani Exchange,Ae black sports jacket s,22%,Jan-17,17.0,1.0,76.0,20170113
13,171014,662.0,743.0,30.0,L1230,V1011,finished,Shoes,Stuart Weitzman,Sw highland 5.5 Grey,7%,Jan-17,51.0,1.0,743.0,20170114
14,171015,31.0,80.0,15.0,H1265,DIRECT,finished,Clothing,Scotch Soda,Scotch soda black hat,43%,Jan-17,34.0,1.0,80.0,20170115
15,171016,33.0,107.0,15.0,H1045,DIRECT,finished,Clothing,Anthropologies,Anthropological powder purple sweater s,55%,Jan-17,59.0,1.0,107.0,20170116
16,171017,38.0,99.0,15.0,H1156,DIRECT,finished,Clothing,Madewell,Madewell Wool Dress Grey xs,46%,Jan-17,46.0,1.0,99.0,20170117
17,171018,85.0,161.0,7.5,L1457,DIRECT,finished,Clothing,Ted Baker,Ted baker bow white shirt 4,43%,Jan-17,68.5,1.0,161.0,20170118
18,171019,38.0,80.0,7.5,VVIP1044,DIRECT,finished,Clothing,Victoria Secrete,Vs pajamas black xs,43%,Jan-17,34.5,1.0,80.0,20170119
19,171020,36.0,64.0,7.5,VVIP1044,DIRECT,finished,Clothing,Tory Burch,Tory sports white top xs,32%,Jan-17,20.5,1.0,64.0,20170120
20,171021,84.0,127.0,15.0,VIP1116,DIRECT,finished,Clothing,Alice Olivia,Alice Olivia Catherine owl sweater Owl wool sh...,22%,Jan-17,28.0,1.0,127.0,20170121
21,171022,31.0,99.0,15.0,VVIP1047,DIRECT,finished,Clothing,7 for all mankind,For All 7 Mankind High Waist Belted Diamond Je...,54%,Jan-17,53.0,1.0,99.0,20170122
22,171023,31.0,99.0,15.0,VVIP1047,DIRECT,finished,Clothing,7 for all mankind,For All 7 Mankind High Rise Vintage Straight J...,54%,Jan-17,53.0,1.0,99.0,20170123
23,171024,534.0,541.0,30.0,L1457,DIRECT,finished,Shoes,Stuart Weitzman,Stuart Weitzman 5050 Over Knee Boot Light Blac...,-4%,Jan-17,-23.0,1.0,541.0,20170124
24,171025,61.0,226.0,15.0,H1104,DIRECT,finished,Clothing,Alice Olivia,Alice Olivia Nila Sleeveless Long-Sleeved Jack...,66%,Jan-17,150.0,1.0,226.0,20170125
25,171026,103.0,256.0,15.0,L1445,DIRECT,finished,Clothing,Alice Olivia,Alice Olivia Gail Collared Tweet Dress black w...,54%,Jan-17,138.0,1.0,256.0,20170126
26,171027,103.0,256.0,15.0,VVIP1044,DIRECT,finished,Clothing,Alice Olivia,Alice Olivia Gail Collared Tweet Dress black w...,54%,Jan-17,138.0,1.0,256.0,20170127
27,171028,96.0,183.0,15.0,VVIP1044,DIRECT,finished,Clothing,Alice Olivia,Alice Olivia Marlee striped sequin Woolen Blac...,39%,Jan-17,72.0,1.0,183.0,20170128
28,171029,22.0,54.0,7.5,L1450,DIRECT,finished,Clothing,Club Monaco,Club Monaco scarf purple,45%,Jan-17,24.5,1.0,54.0,20170129
29,171030,65.0,111.0,22.5,H1186,DIRECT,finished,Clothing,Topshop,Topshop bomber jacket 6,21%,Jan-17,23.5,1.0,111.0,20170130
30,171031,63.2,79.0,15.0,VIP1142,DIRECT,finished,Clothing,Banana Republic,Br dog sweater grey xs,1%,Jan-17,0.8,1.0,79.0,20170131
31,171031,63.2,79.0,15.0,H1295,DIRECT,finished,Clothing,Banana Republic,Br dog sweater grey xs,1%,Jan-17,0.8,1.0,79.0,20170132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1854,1810103,154.0,258.0,23.0,H1182,DIRECT,finished,Shoes,Ferragamo,FERRAGAMO ENA 40 BLACK NAPL5.5B,31%,Mar-18,81.0,1.0,258.0,201803080
1855,1810229,125.0,155.0,23.0,H1110,DIRECT,finished,Shoes,Stuart Weitzman,STUART WEITZMAN BOLSHOI LEATHER BLACK6,5%,Mar-18,7.0,1.0,155.0,201803081
1856,1810229,126.0,155.0,23.0,L1535,DIRECT,finished,Shoes,Stuart Weitzman,STUART WEITZMAN BOLSHOI LEATHER BLACK6,4%,Mar-18,6.0,1.0,155.0,201803082
1857,1810230,102.0,155.0,23.0,H1012,DIRECT,finished,Shoes,Stuart Weitzman,STUART WEITZMAN BOLSHOI LEATHER BLACK6.5,19%,Mar-18,30.0,1.0,155.0,201803083
1858,1810104,214.0,309.0,23.0,VIP1004,DIRECT,finished,Shoes,Ferragamo,FERRAGAMO FELMA 1CM NERO SUEDE6.5B,23%,Mar-18,72.0,1.0,309.0,201803084
1859,1810231,103.0,155.0,23.0,VIP1018,DIRECT,finished,Shoes,Stuart Weitzman,STUART WEITZMAN BOLSHOI LEATHER BLACK7.5,19%,Mar-18,29.0,1.0,155.0,201803085
1860,1810238,167.0,286.0,23.0,L1668,DIRECT,finished,Shoes,Stuart Weitzman,STUART WEITZMAN NEARLYNUDE SUEDE FOSSIL GREY7.5,34%,Mar-18,96.0,1.0,286.0,201803086
1861,1810234,164.0,273.0,23.0,L1354,DIRECT,finished,Shoes,Stuart Weitzman,STUART WEITZMAN MANILA TASSEL BLACK8,32%,Mar-18,86.0,1.0,273.0,201803087
1862,1810234,164.0,266.0,23.0,VIP1018,DIRECT,finished,Shoes,Stuart Weitzman,STUART WEITZMAN MANILA TASSEL BLACK8,30%,Mar-18,79.0,1.0,266.0,201803088
1863,1810233,101.0,155.0,5.0,DL1005,DIRECT,finished,Shoes,Stuart Weitzman,STUART WEITZMAN BOLSHOI SUEDE RED7,32%,Mar-18,49.0,1.0,155.0,201803089
1864,1810203,202.0,233.0,5.0,VVIP1018,DIRECT,finished,Handbag,Pinko,pinko star handbag Black,11%,Mar-18,26.0,1.0,233.0,201803091
1865,1810124,148.0,216.0,8.0,VIP1004,V1012,finished,Accessories,Gentle Monster,gm sunglasses odd pink,28%,Mar-18,60.0,1.0,216.0,201803092
1866,1810273,160.0,195.0,5.0,FF1019,DIRECT,finished,Cosmetic,Valmont,valmont travel set,15%,Mar-18,30.0,1.0,195.0,201803093
1867,1810271,198.0,227.0,5.0,FF1019,DIRECT,finished,Cosmetic,Valmont,valmont mask set,11%,Mar-18,24.0,1.0,227.0,201803094
1868,1810270,321.0,438.0,5.0,VIP1050,DIRECT,finished,Cosmetic,Valmont,valmont all gift set,26%,Mar-18,112.0,1.0,438.0,201803095
1869,1810178,1313.0,1477.0,5.0,FF1035,DIRECT,finished,Handbag,Gucci,Gucci bee star leather men bag $1490,11%,Mar-18,159.0,1.0,1477.0,201803097
1870,1810241,273.0,311.0,5.0,L1709,DIRECT,finished,Handbag,Marc Jacobs,mmjcamera crossbody bag White kayak and green,11%,Mar-18,33.0,1.0,311.0,201803098
1871,1810271,198.0,258.0,5.0,L1315,DIRECT,finished,Cosmetic,Valmont,valmont mask set,21%,Mar-18,55.0,1.0,258.0,201803099
1872,1810053,91.0,148.0,8.0,L1479,DIRECT,finished,Cosmetic,Chantecaille,Chantecaille travel set,33%,Mar-18,49.0,1.0,148.0,201803100
1873,1810091,219.0,258.0,5.0,L1693,DIRECT,finished,Cosmetic,Valmont,valmont mask set,13%,Mar-18,34.0,1.0,258.0,201803101
1874,1810123,148.0,203.0,8.0,DL1004,V1012,finished,Accessories,Gentle Monster,gm sunglasses madcrush,23%,Mar-18,47.0,1.0,203.0,201803102
1875,1810276,4990.0,5870.0,5.0,FF1015,DIRECT,finished,Clothing - wholesale,Jcrew,Wholesale to Beijing - maje + jcrew + MLB,15%,Mar-18,875.0,1.0,5870.0,201803103
1876,1810078,145.0,148.0,5.0,L1691,V1012,finished,Accessories,Gentle Monster,gm black peter Black,-1%,Mar-18,-2.0,1.0,148.0,201803104
1877,1810019,12315.0,15370.0,5.0,L1731,DIRECT,finished,Cosmetic-wholesale,Lamer/La Prairie/Chantecaille,lamer / lp / chantecaille etc,20%,Mar-18,3050.0,1.0,15370.0,201803105
1878,1810272,1362.4,1703.0,20.0,L1738,DIRECT,finished,Clothing,Macy Mcooy,lamer / lp / chantecaille etc,19%,Mar-18,320.6,1.0,1703.0,201803112
1879,1810277,1362.4,1703.0,20.0,DL5001,DIRECT,finished,Clothing,Macy Mcooy,Spring Season * 20,19%,Mar-18,320.6,1.0,1703.0,201803112
1880,1810278,2724.8,3406.0,20.0,L1723,DIRECT,finished,Clothing,Macy Mcooy,Spring Season * 40,19%,Mar-18,661.2,1.0,3406.0,201803114
1881,1810279,2600.0,4813.0,50.0,L1731,DIRECT,finished,Shoes,Stuart Weitzman,Winter Shoe Discount Whole Sale Event,45%,Mar-18,2163.0,1.0,4813.0,201803115
1882,1810279,2890.0,4844.0,50.0,L1731,DIRECT,finished,Shoes,Miumiu,Winter Shoe Discount Whole Sale Event,39%,Mar-18,1904.0,1.0,4844.0,201803116
1883,1810281,2900.0,5469.0,50.0,L1731,DIRECT,finished,Shoes,Ferragamo,Winter Shoe Discount Whole Sale Event,46%,Mar-18,2519.0,1.0,5469.0,201803117

In [12]:
# If Profit is negative, change to NaN. 
df_data[df_data['Profit'] < 0] = np.nan

# If Product Base Margin is Nan, change to 0.

df_data['Product Base Margin'].fillna(0)

df_data.shape

(1781, 16)

In [13]:
# Total of orders, customers, products and brands

pd.DataFrame([{'orders': len(df_data['Order ID'].value_counts()),    
               'customers': len(df_data['Customer ID'].value_counts()),
               'products': len(df_data['Product Description'].value_counts()), 
               'total of brands' : len(df_data.Brand.unique())
              }], columns = ['orders', 'customers', 'products','total of brands'], index = ['quantity'])

          orders  customers  products  total of brands
quantity    1748        579      1482              138

In [14]:
df_data.describe()

,Cost of Goods,Unit Price,Shipping Cost,Profit,Quantity,Sales
count,1752.000000,1752.000000,1752.000000,1752.000000,1752.000000,1752.000000
mean,194.390068,272.300799,11.678596,108.911587,1.014840,380.446347
std,659.744627,1017.602449,12.233762,1572.992276,0.263541,3969.624712
min,1.000000,21.000000,0.000000,0.000000,1.000000,21.000000
25%,49.000000,84.000000,7.500000,22.450000,1.000000,84.000000
50%,100.000000,151.500000,7.500000,36.500000,1.000000,152.500000
75%,184.000000,250.000000,15.000000,59.000000,1.000000,250.000000
max,15816.000000,26360.000000,300.000000,50410.000000,10.000000,126650.000000

In [15]:
# Format 'Order Date' column.
df_data['Order Date'] = pd.to_datetime(df_data['Order Date'], format="%b-%y")
df_data['Order Date'] = df_data['Order Date'].dt.strftime('%m/%d/%Y')
df_data['Order Date'] = pd.to_datetime(df_data['Order Date'], format='%m/%d/%Y')

print(df_data['Order Date'].head())

2   2017-01-01
3   2017-01-01
4   2017-01-01
5   2017-01-01
6   2017-01-01
Name: Order Date, dtype: datetime64[ns]

In [16]:
# Get month and year
df_data['Month'] = df_data['Order Date'].dt.month
df_data['Year'] = df_data['Order Date'].dt.year

df_data.count()

Stock ID               1752
Cost of Goods          1752
Unit Price             1752
Shipping Cost          1752
Customer ID            1752
Vendor                 1752
Order Status           1752
Product Category       1752
Brand                  1752
Product Description    1752
Product Base Margin    1752
Order Date             1752
Profit                 1752
Quantity               1752
Sales                  1752
Order ID               1752
Month                  1752
Year                   1752
dtype: int64

In [17]:
# Save clean data for work with Customer and Brand 
df_data.to_csv('data/data_ready.csv',index=False)